// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-primary: #ffb900;
$color-primary-lite: #fcf0d0;
$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;

$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5634fa;

$color-white: #fff;
$color-black: #000;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// FORM
$color-success: #28b485;
$color-danger: #ff2119;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// TYPOGRAPHY
$default-font-size: 1.6rem;
$text-white: $color-white;
$text-primary-light: $color-primary-light;
$text-dark: $color-grey-dark;
